<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Parámetro de la URL</h3>
    </div>
    <div class="panel-body">
        <p>Valor del parámetro recibido: <strong class="parametro-container">Cargando...</strong></p>
        {{#if aceptacion}}
        Asignación Procesada
        {{/if}}
        {{#if rechazo}}
        Asignación Rechazada
        {{/if}}
    </div>
</div>